* {
  font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 16px;
  border-radius: 50px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
}

.modules-right {
  margin-right: 12px;
}

#workspaces {
  background-color: @surface_container_low;
  padding: 2px 2px 2px 2px;
  border-radius: 50px;
  margin-left: 12px;
}

#workspaces button.active {
  background-color: #179299;
  color: @on_primary_fixed;
  padding: 5px 24px;
}

#workspaces button.active:hover {
  color: @primary_fixed_dim;
  background: inherit;
}

#workspaces button.empty {
  color: @outline_variant;
}

#workspaces button {
  background-color: transparent;
  color: @outline;
  transition: margin 150ms ease-in-out, padding 150ms ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.2s ease;
}

#workspaces button:hover {
  background: @surface_container_high;
}

#workspaces button.urgent {
  background-color: @error;
  color: @on_error;
}

#battery,
#pulseaudio,
#backlight,
#network,
#clock,
#bluetooth,
#custom-media,
#window,
#tray,
#custom-launcher,
#custom-notification,
#custom-power {
  color: @primary;
  background-color: @surface_container;
  padding: 0 15px 0 15px;
  margin: 0 0 0 12px;
}

#window.hidden {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: none;
}

window#waybar.empty #window {
  background-color: transparent;
}

#custom-launcher {
  color: #2bc3af;
}

#clock {
  color: #cba6f7;
}

#pulseaudio {
  color: #2bc3af;
}

#battery {
  color: #53df7a;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.warning:not(.charging) {
  color: #fab387;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  to {
    background-color: rgba(243, 139, 168, 0.5);
  }
}

#network {
  color: #b163e8;
}

#custom-power {
  color: #f38ba8;
  font-size: 15px;
  padding: 0px 10px;
}

#bluetooth.connected {
  color: #74c7ec;
}

#bluetooth.disabled {
  color: #ee547a;
}

#custom-notification {
  color: #a11ae4;
}

#tray {
  color: #a6e3a1;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: #a6e3a1;
}
